# 打包APK (改为通用包，不拆分，排除拆分包命名导致的安装错误)
      - name: Build APK
        run: |
          cd simple_live_tv_app
          # 去掉 --split-per-abi，生成一个包含所有架构的通用包
          flutter build apk --release --target-platform android-arm,android-arm64

      # 上传
      - name: Upload APK to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android_tv_fat
          path: simple_live_tv_app/build/app/outputs/flutter-apk/app-release.apk
